
/* Define colors */
@define-color buttonblue #2c497d;
@define-color electric-blue #00d4ff;
@define-color soft-blue #3daee9;
@define-color dark-glaze #1a1b26;


* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}


window#waybar {
    background-color: rgba(24, 45, 82, 0.7);
    border-radius: 10px;
    padding: 20px;
    margin: 5px;
    color: #ffffff;
    transition: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}


#workspaces button {
    padding: 0 10px;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
    transition: all 0.3s cubic-bezier(.55,-0.04,.3,1.44);
    margin: 0 2px;
}

#workspaces button.active {
    background-color: @buttonblue;
    color: @electric-blue;
    border-bottom: 3px solid @electric-blue;
    min-width: 40px;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
    color: white;
}

#workspaces button:hover {
    background: rgba(0, 212, 255, 0.2);
    box-shadow: none;
    border-bottom: 3px solid @electric-blue;
}

#window,
#workspaces {
    margin: 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 5px;
}

.modules-center  {
    border-radius: 15px;
    background-color: #24283b;
    padding: 0 15px;
    min-width: 100px;
}

.modules-center #window {
    color: @electric-blue;
    font-weight: bold;
}

.modules-right #clock {
    color: @soft-blue;
    margin-left: 10px
}

.modules-right > widget {
    border-right-style: solid;
    border-width: 2px;
    border-color: #000000;
    margin: 4px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

/* Module Customization */
#load,#cpu,#memory {
    margin: 3px;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio:hover {
    background-color: #a37800;
}

#custom-spotify {
    border-radius: 15px;
    border-style: solid;
    border-color: #000000;
    background-color: @buttonblue;
    padding: 10px;
}



